$primary:   #262633;
$secondary: #121212;
$white:     #fff;
$red:       #ED3024;
$blue:      #3137C9;

$w-1400: 1400px;
$w-1300: 1300px;
$w-1200: 1200px;
$w-991: 991px;
$w-768: 768px;
$w-576: 576px;
$w-400: 400px;