<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__inner-burger"></div>
            <div class="header__inner-nav">
                <nav class="header__inner__nav">
                    <ul class="header__inner-ul">
                        <a href="" class="header__inner-link">Упаковка</a>
                        <a href="" class="header__inner-link">Оборудование</a>
                        <a href="" class="header__inner-link">Сервис и запчасти</a>
                    </ul>
                </nav>
            </div>
            <div class="header__inner-logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="header__inner-icon">
                <a href=""> <img src="assets/images/header-icon-1.png" alt=""> </a>
                <a href=""> <img src="assets/images/header-icon-2.png" alt=""> </a>
            </div>
            <div class="header__inner-info">
                <a href="tel:+4991361718">+7 (499) 136-17-18</a>
                <a href="mailto:info@monevac.ru">info@monevac.ru</a>
            </div>
            <div class="header__inner-btn">
                <button class="btn btn--red">Отсавить заявку</button>
            </div>
        </div>
    </div>
    <div class="modal-header">
        <div class="block-modal">
            <div class="header__nav header__nav--modal">
                <div class="header__nav-nav header__nav-nav--modal">
                    <nav class="nav-header">
                        <ul class="header__inner-ul header__inner-ul--modal">
                            <a href="" class="header__inner-link--modal">Упаковка</a>
                            <a href="" class="header__inner-link--modal">Оборудование</a>
                            <a href="" class="header__inner-link--modal">Сервис и запчасти</a>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header__inner-info--modal">
                <a href="tel:+4991361718">+7 (499) 136-17-18</a>
                <a href="mailto:info@monevac.ru">info@monevac.ru</a>
            </div>
            <div class="header__inner-btn--modal">
                <button class="btn btn--red">Отсавить заявку</button>
            </div>
        </div>
    </div>   
</header>
